# Dependências
node_modules/

# Next.js
.next/
out/
build/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Vercel
.vercel
